* {
    margin: 0; 
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 180px 300px 300px;
    gap: 10px;
    min-width: 900px;
}
.Header {
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    border: 5px solid red;
}
.Dashboard {
    grid-area: 1 / 1 / 4 / 2;
    border: 5px solid red;
}
.Projects {
    grid-area: 2 / 2 / 4 / 3;
    border: 5px solid red;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6% 31% 31% 31%;
    gap:3px;
}
.projects-header {
    grid-area: 1/ 1 / 2/  3;
}
.project {
    border: 3px solid blue;
}
.Announcements {
    gap: 10px;
    grid-area: 2 / 3 / 3 / 4;
    border: 5px solid red;
}
.Trending {
    grid-area: 3 / 3 / 4 / 4;
    border: 5px solid red;
}
h1 {
    font-size: 20px;
    
}